/* Common styles */
:root {
  --black: #111111;
  --mainBgColor: #fafafa;
  --secondBgColor: #1e1823;
  --accentColor: rgb(250, 134, 9);
  --greyColor: rgba(255, 255, 255, 0.7);
  --witeColor: #ffffff;
  --accenHoverColor: #fcf1e0;
  --lightGreyColor: rgba(255, 255, 255, 0.5);
}
body {
  font-family: Montserrat, sans-serif;
  color: #111111;
  background-color: var(--mainBgColor);
  font-size: 14px;
  line-height: 1.11;
  letter-spacing: -0.02em;
}
button {
  color: var(--witeColor);
  font-weight: 600;
  font-size: 14px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.title_span {
  color: var(--accentColor);
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  cursor: pointer;
}
address {
  font-style: normal;
}
.section {
}
.container {
  width: 1168px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
/* HEADER */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}
.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_nav {
  display: flex;
  align-items: center;
}
.header_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 447px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

.header_logo_italic {
  font-style: italic;
  margin-right: 4px;
}
.header_logo_icon {
  margin-left: 4px;
  animation: rotate 4s linear infinite both;
  transform-origin: center center;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.header_nav_list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header_nav_item {
}
.header_nav_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.03em;
  padding-top: 24px;
  padding-bottom: 32px;
  transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_nav_link:hover {
  color: var(--accentColor);
}
.header_social_list {
  display: flex;
  align-items: center;
  gap: 18px;
}
.header_social_item {
}
.header_social_icon {
  fill: none;
  stroke: var(--black);
  transition: stroke 400ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_social_icon:hover {
  stroke: var(--accentColor);
  transform: scale(1.1);
}

/* HERO */
.hero {
  margin-bottom: 72px;
}
.hero_bg {
  padding: 381px 40px 40px 40px;

  background-color: var(--secondBgColor);
  background-image: url('../images/hero/hero_d_bg_1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.hero_title {
}
.hero_text {
  width: 484px;
  color: var(--witeColor);
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}
.hero_btn_wrapper {
  display: flex;
  justify-content: space-between;
}
.hero_links_list {
  display: flex;
  align-items: center;
  gap: 4px;
}
.hero_item {
}
.hero_btn {
  display: inline-flex;
  padding: 14px 40px;
  min-width: 144px;
  min-height: 45px;
  border: 1px solid #000000;
  border-radius: 100px;
  cursor: pointer;
  color: var(--witeColor);
  background-color: var(--accentColor);
  font-weight: 600;
  transition-property: color, background-color;
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero_btn:hover {
  background-color: var(--accenHoverColor);
  color: var(--accentColor);
}
.hero_link {
  display: inline-flex;
  min-width: 183px;
  min-height: 45px;
  padding: 13px 39px;
  border-radius: 100px;
  border: 1px solid var(--witeColor);
  color: var(--witeColor);
  font-weight: 600;
  transition-property: color, background-color, border-color;
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero_link:hover {
  background-color: var(--witeColor);
  color: var(--accentColor);
  border-color: var(--accentColor);
}
.hero_scroll {
  display: flex;
  align-items: center;
  color: var(--witeColor);
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: unset;
  transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero_scroll:hover {
  color: var(--accentColor);
}
.hero_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  margin-left: 14px;
  border-radius: 50%;
  background-color: var(--witeColor);
  transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero_scroll:hover .hero_circle {
  background-color: var(--accentColor);
}
.hero_icon {
  fill: var(--accentColor);
  transition: fill 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero_scroll:hover .hero_icon {
  fill: var(--witeColor);
}

/* BENEFITES */
.benefites {
  background-color: var(--secondBgColor);
  padding-top: 65px;
  padding-bottom: 50px;
}
.benefites_list {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 88px;
  align-items: start;
}
.benefites_item {
  position: relative;
  width: calc((100% - 2 * 88px) / 3);
}
.benefites_item::before {
  content: '';
  flex-shrink: 0;
  display: block;
  width: 62px;
  height: 62px;
  border: 1px solid var(--lightGreyColor);
  border-radius: 50%;
  position: absolute;
  top: -15px;
}
.benefites_item:not(:first-child)::after {
  content: '';
  display: block;
  height: 124px;
  width: 1px;
  background-color: var(--lightGreyColor);
  position: absolute;
  top: 60px;
  left: -70px;
}
.benefites_img_wrapper {
  width: 62px;
  height: 62px;
  border: 1px solid var(--lightGreyColor);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}
.benefites_icon {
  margin-bottom: 37px;
  margin-left: 15px;
}

.benefites_title {
  color: var(--witeColor);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}
.benefites_text {
  color: var(--greyColor);
}

/* INGREDIENTS */
.ingredients {
  padding-top: 100px;
  padding-bottom: 50px;
}
.ingredients_title {
  text-align: center;
  width: 411px;
  margin-bottom: 28px;
  margin: 0 auto 28px;
}
.ingredients_text {
  text-align: center;
  margin: 0 auto 50px;
  width: 486px;
}
.ingredients_list {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  align-items: center;
  overflow: hidden;
}
.ingredients_item {
  position: relative;
  width: calc((100% - 3 * 19px) / 4);
  padding: 28px;
  border: 1px solid var(--accentColor);
  border-radius: 15px;
  cursor: pointer;
  transition: background-color, border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ingredients_item:nth-child(1) {
  background-color: var(--accentColor);
}
.ingredients_item:nth-child(3n) {
  background-color: var(--secondBgColor);
  border-color: var(--secondBgColor);
  color: var(--witeColor);
}
.ingredients_item_img {
  margin-bottom: 36px;
}
.ingredients_item_title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.ingredients_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--witeColor);
  border-radius: 15px;
  border: 1px solid var(--witeColor);
  padding: 20px;
}
.ingredients_item:hover {
  background-color: var(--witeColor);
  border-color: var(--witeColor);
}
.ingredients_item:hover .ingredients_overlay {
  transform: translateY(0);
  background-color: var(--witeColor);
  border-color: var(--witeColor);
}
.ingredients_overlay_title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.03em;
  color: var(--black);
  margin-bottom: 8px;
}
.ingredients_overlay_wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 14px;
}
.ingredients_overlay_label {
  padding: 6px 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0em;
  color: var(--witeColor);
  background-color: var(--accentColor);
  border-radius: 35px;
  border: 1px solid transparent;
}
.ingredients_overlay_label.active {
  background-color: var(--witeColor);
  color: var(--black);
  border-color: var(--accentColor);
}
.ingredients_overlay_desc {
  line-height: 1.28;
  color: var(--black);
}

/* HOW IT'S MADE */
.made {
  padding-top: 50px;
  padding-bottom: 50px;
}
.made_title {
  width: 205px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.made_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.made_text_wrapper {
  padding: 32px;
}
.made_text {
  width: 350px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-bottom: 28px;
}
.made_img {
}
.made_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.made_item {
  display: flex;
  gap: 8px;
}
.made_item::before {
  content: '';
  flex-shrink: 0;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  margin-top: 5px;
}
.made_item_text {
  font-size: 14px;
  line-height: 1.11;
  letter-spacing: -0.02em;
  padding-left: 16px;
}

/* REVIEWS */
.reviews {
  padding-top: 50px;
  padding-bottom: 100px;
}
.reviews_title {
  width: 268px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.reviews_list {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.reviews_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 2 * 28px) / 3);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 24px;
}
.reviews_item_img {
}
.reviews_item_title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.reviews_item_text {
  text-align: center;
  margin-bottom: 24px;
}
.reviews_btn {
  display: block;
  width: 222px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  margin: 0 auto;
  text-align: center;
  padding: 14px 40px;
  border: 1px solid var(--accentColor);
  border-radius: 100px;
  background-color: var(--witeColor);
  color: var(--black);
  transition: color, background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reviews_btn:hover,
.reviews_btn:focus {
  background-color: var(--accentColor);
  color: var(--witeColor);
}

/* FOOTER */
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--secondBgColor);
}
.footer_text_contact_wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 54px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer_text {
  width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--witeColor);
}
.footer_text_span {
  color: var(--accentColor);
}
.footer_adress {
}
.footer_adress_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--witeColor);
  margin-bottom: 14px;
}
.footer_adress_list {
}
.footer_adress_item {
}
.footer_adress_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--witeColor);
  transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_adress_link:hover {
  color: var(--accentColor);
}
.footer_list {
  display: flex;
  gap: 24px;
  color: var(--witeColor);
}
.footer_item {
}
.footer_link_form_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.footer_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_link:hover {
  color: var(--accentColor);
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  width: 517px;
  height: 794px;
  background-color: var(--witeColor);
  border-radius: 15px;
  padding: 40px 24px 40px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1) 400ms,
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1) 400ms;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -70%);
}
.modal_close_btn {
  background-color: var(--witeColor);
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_close_icon {
  stroke: var(--black);
  transition: stroke 400ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_close_icon:hover {
  stroke: var(--accentColor);
  transform: scale(1.1);
}
.modal_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  max-width: 298px;
}

/* FORM */

.modal_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal_form_field {
}
.modal_form_icon {
  stroke: #404040;
  fill: var(--witeColor);

  transition: stroke 400ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_form_input {
  width: 437px;
  height: 68px;
  border-radius: 13px;
  border: solid 1.5px rgba(17, 17, 17, 0.05);
  /*   padding-left: 24px;
  padding-right: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--black);
  transition: border-color 400ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.checkbox_wrapper {
  display: flex;
  gap: 12px;
}
.modal_form_agree {
}
.privacy_text {
  color: rgba(64, 64, 64, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.privacy_link {
  color: var(--accentColor);
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 1px;
  transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy_link:hover {
  color: #f8a853;
}
